# Response file for the broker
broker-port = 22304
broker-host = 127.0.0.1

console-restore-on-exit = false

# Uncomment the following line to display the help. The option has no value but it must
# be set to something in this response file because the boost::program_options parser
# expects everything to have a value, even if it's not of any defined "type".
#help = any
